<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Philip Crosby Associates</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript"> 
	$(document).ready(function() 
    	{ 
		      	  $(".tablesorter").tablesorter(); 
		   	 } 
			);
			$(document).ready(function() {
		
			//When page loads...
			$(".tab_content").hide(); //Hide all content
			$("ul.tabs li:first").addClass("active").show(); //Activate first tab
			$(".tab_content:first").show(); //Show first tab content
		
			//On Click Event
			$("ul.tabs li").click(function() {
		
				$("ul.tabs li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tab_content").hide(); //Hide all tab content
		
				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
		
		});
    </script>
	<script>
	function CurrencyFormatted(amount) {
		var i = parseFloat(amount);
		if(isNaN(i)) { i = 0.00; }
		var minus = '';
		if(i < 0) { minus = '-'; }
		i = Math.abs(i);
		i = parseInt((i + .005) * 100);
		i = i / 100;
		s = new String(i);
		if(s.indexOf('.') < 0) { s += '.00'; }
		if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
		s = minus + s;
		return s;
	}
	</script>
<script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$(function() {
		$( "#tabs" ).tabs({active: 0});
		});
	</script>
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/">Integrated Capability</a></h1>
			<h2 class="section_title">Collaborate</h2><div class="btn_view_site"><a href="http://http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
		<section id="secondary_bar">
			{% include 'userbar.html' %}
		</section><!-- end of secondary bar -->
			
		<aside id="sidebar" class="column">
			{% include 'leftnav.html' %}
		</aside><!-- end of sidebar -->
			
		<section id="main" class="column">
		
		<h4 class="alert_info">Step up the bean counter...</h4>

<div class="clear"></div>
<div id="tabs">
		
<ul>
	<li><a href="#tabs-1">You</a></li>
	<li><a href="#tabs-2">Your Team</a></li>
	<li><a href="#tabs-3">Your Network</a></li>
	<li><a href="#tabs-4">tab4</a></li>
	<li><a href="#tabs-5">tab5</a></li>
	<li><a href="#tabs-6">tab6</a></li>
	<li><a href="#tabs-7">tab6</a></li>
</ul>
<div id="tabs-1">
    <h2>Your Profile</h2>
    
    <p>This is you...</p>
    <br>
		 	<table class=datatable>
			<th class=datatable colspan="14" align="left"> </th>
			<tr>
			<th class=datatable align="center" width=1%>Emp ID</th>	
			<th class=datatable width=20%>Name</th>
			<th class=datatablewidth=10%>Email</th>
			<th class=datatablewidth=10%>Google User ID</th><tr>
			
						{% for row in yourprofile %}
						<td>{{ row[0]|e }}
						<td>{{ row[1]|e }} {{ row[2]|e }}
						<td>{{ row[3]|e }}
						<td>{{ row[4]|e }}<tr>
						{% endfor %}
			</table>

</div>
<div id="tabs-2">

			    <h2>People in your Organization</h2>
		 	<table class=datatable>
			<th class=datatable colspan="14" align="left"> </th>
			<tr>
			<th class=datatable align="center" width=2%>Emp ID</th>	
			<th class=datatable width=20%>Name</th>
			<th class=datatablewidth=10%>Email</th>
			<th class=datatablewidth=10%>Google User ID</th><tr>
			
						{% for row in yourteam %}
						<td>{{ row[0]|e }}
						<td>{{ row[1]|e }} {{ row[2]|e }}
						<td>{{ row[3]|e }}
						<td>{{ row[4]|e }}<tr>
						{% endfor %}
			</table>


</div>
<div id="tabs-3">
<h2>Your Networks</h2>
			<table class=datatable align="center"> 
				{% for group in capability|groupby(1) %}
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="13" align="left">{{ group.grouper }}</th><tr>
				    <th class=datatable>Process</th>
					<th class=datatable>Seq</th>
					<th class=datatable>Process Step</th>
					<th class=datatable>Operator</th>
					<th class=datatable>Tot Ops</th>
					<th class=datatable>Conf Ops</th>
					<th class=datatable>Failed</th>
					<th class=datatable>POC</th>
					<th class=datatable>PONC</th>
					<th class=datatable>EFC</th>
					<th class=datatable>Tot Cost</th><tr>
				    {% for row in group.list %}
				   	 	<td width=10% align="center" >{{ row[1]|e }}
				        <td width=2%>{{ row[2]|e }}
				        <td width=10%>{{ row[3]|e }}
				        <td width=10%>{{ row[6]|e }}
				        <td align="center" width=5%>{{ row[7]|e }}
				        <td align="center" width=5%>{{ row[8]|e }}
				        <td align="center" width=5%>{{ row[9]|e }}
				        <td align="center" width=5%>${{ row[11]|round|int|e }}
				        <td align="center" width=5%>${{ row[10]|round|int|e }}
				        <td align="center" width=5%>${{ row[12]|round|int|e }}
				        <td align="center" width=5%>${{ row[13]|round|int|e }}<tr>
				    {% endfor %}
				{% endfor %}
			</table>
</div>
<div id="tabs-4">

			<h2>Process Cost Reference</h2>
			<p>Listed below are processes you operate or processes you own (local) with current POC, PONC and EFC.</p>
			<br>
			<table class=datatable align="center"> 
				{% for group in processcost|groupby(0) %}
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="7" align="left">{{ group.grouper }}</th><tr>
				    <th class=datatable>Seq</th>
					<th class=datatable>Process Step</th>
					<th class=datatable>Step Owner</th>
					<th class=datatable>Status</th>
					<th class=datatable>POC</th>
					<th class=datatable>PONC</th>
					<th class=datatable>EFC</th><tr>
				    {% for row in group.list %}
				        <td width=1% align="center" >{{ row[1]|e }}
				        <td width=10%>{{ row[2]|e }}
				        <td width=10%>{{ row[4]|e }}
				        <td width=2% align="center" >{{ row[5]|e }}
				        <td align="center" width=5%>${{ row[7]|round|int|e }}
				        <td align="center" width=5%>${{ row[6]|round|int|e }}
				        <td align="center" width=5%>${{ row[8]|round|int|e }}<tr>
				    {% endfor %}
				{% endfor %}
			</table>

</div>
<div id="tabs-5">

</div>
<div id="tabs-6">

</div>
<div id="tabs-7">

</div>
</div>

</body>

