<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Philip Crosby Associates - Collaborate</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/widgets.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" media="screen" />
	  
	<!--[if lt IE 9]>
	<link rel="images" href="/images/" type="" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/static/jQueryWidgets.js"></script>
	
	<script>
	$(document).ready(function() 
    	{ 
		      	  $(".tablesorter").tablesorter(); 
		   	 } 
			);
			$(document).ready(function() {
		
			//When page loads...
			$(".tab_content").hide(); //Hide all content
			$("ul.tabs li:first").addClass("active").show(); //Activate first tab
			$(".tab_content:first").show(); //Show first tab content
		
			//On Click Event
			$("ul.tabs li").click(function() {
		
				$("ul.tabs li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tab_content").hide(); //Hide all tab content
		
				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
		
		});
    </script>
	<script>
	function CurrencyFormatted(amount) {
		var i = parseFloat(amount);
		if(isNaN(i)) { i = 0.00; }
		var minus = '';
		if(i < 0) { minus = '-'; }
		i = Math.abs(i);
		i = parseInt((i + .005) * 100);
		i = i / 100;
		s = new String(i);
		if(s.indexOf('.') < 0) { s += '.00'; }
		if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
		s = minus + s;
		return s;
	}
	</script>

	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$(function() {
		$( "#tabs" ).tabs({active: 0});
		});
	</script>
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/">Integrated Capability</a></h1>
			<h2 class="section_title">Collaborate</h2><div class="btn_view_site"><a href="http://http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
		<section id="secondary_bar">
			{% include 'userbar.html' %}
		</section><!-- end of secondary bar -->
			
		<aside id="sidebar" class="column">
			{% include 'leftnav.html' %}
		</aside><!-- end of sidebar -->
			
		<section id="main" class="column">

<div class="clear"></div>
<div id="tabs">
		
<ul>
	<li><a href="#tabs-1">Processes You Own</a></li>
	<li><a href="#tabs-2">Processes You Operate</a></li>
	<li><a href="#tabs-3">Request Subscriptions</a></li>
	<li><a href="#tabs-4">Grant Subscriptions</a></li>
	<li><a href="#tabs-5">Your Team</a></li>
</ul>
<div id="tabs-1">
    <h2>Here are processes you own.</h2> 
  
    <p>Deployment Status can be one of the following:</p>
    <li><b>Local:</b> This is your own process, perhaps on that you are prototyping to start a project.</li>
    <li><b>Published:</b> A non-ZD Capable process that has been offered to be shared.</li>
    <li><b>Hold:</b> A process in purgatory.</li>
    <li><b>Retired:</b> A post red-giant.</li>
    <li><b>ZD Capabable:</b> A process that has completed all stages of Prevention and is operational within the O&M model.</li>
    
    
    <br>
			<table class=datatable align="center"> 
				{% for group in ownerProcesses|groupby('proc_nm') %}
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="13" align="left">{{ group.grouper }}</th><tr>
					<th class=datatable>Seq</th>
					<th class=datatable>Process Step</th>
					<th class=datatable>Description</th>
					<th class=datatable>Deploymemt Status</th>
					<th class=datatable>POC</th>
					<th class=datatable>PONC</th>
					<th class=datatable>EFC</th><tr>
				    {% for row in group.list %}
				   	 	<td width=1% align="center" >{{ row.proc_step_seq|e }}
				        <td width=10%>{{ row.proc_step_nm|e }}
				        <td width=15%>{{ row.proc_step_desc|e }}
				        <td align="center" width=5%>{{ row.proc_step_status|e }}
				        <td align="center" width=5%>${{ row.proc_step_poc|e }}
				        <td align="center" width=5%>${{ row.proc_step_ponc|e }}
				        <td align="center" width=5%>${{ row.proc_step_efc|e }}<tr>
				    {% endfor %}
				{% endfor %}
			</table>

</div>
<div id="tabs-2">

    <h2>Here are Processes to which you are Subscribed.</h2>
    <p>This means that you have been granted access to operate the process by the Process Owner. <br><br>
    
     However, this does not mean that you are qualified to operate the process in a ZD capable manner.  You must meet the requirements to operated these processes as defined in the PMW.  In the future, the environment will help the owner and operator track and meet these requirements. Future Enhancement
    </p>

			<table class=datatable align="center"> 
				{% for group in subscribedProcesses|groupby('proc_nm') %}
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="13" align="left">{{ group.grouper }}</th><tr>
					<th class=datatable>Seq</th>
					<th class=datatable>Process Step</th>
					<th class=datatable>Owner</th><tr>
				    {% for row in group.list %}
				        <td width=1%>{{ row.proc_step_seq|e }}
				        <td width=15%>{{ row.proc_step_nm|e }}
				        <td align="center" width=10%>{{ row.proc_owner }}<tr>
				    {% endfor %}
				{% endfor %}
			</table>

</div>

<div id="tabs-3">

        <h2>Request Subscriptions</h2>
        
        <br><br>
        <article class="module width_half">
        <p>The following are required for an operator to see a process:</p>
        <li>ZD capable or a Published Local Process</li>
        <li>Not already in the queue for subscription approval by the Operator</li>
        <li>Not deferred as a subscription</li>
        <form id="RequestSubscription" action="/RequestSubscription" method="POST"> 
                        <ul id="menuSubscription">
                        		<input type="hidden" name="emp_id" id="emp_id" value= {{ emp_id }}></input>
                                {% for group in availableProcesses|groupby('proc_nm') %}
                                 <li><a href="#">{{ group.grouper }}</a><ul>
                                 {% for row in group.list %}
                                 <li><a href="#" proc_step_id={{ row.proc_step_id }} proc_step_nm={{ row.proc_step_nm|string() }} width="50%">{{ row.proc_step_nm }}</a></li>
                                 {% endfor %}</ul></li>
                                {% endfor %}
                        </li></ul>
                        <br><br>

                <ol id="proc_step_id_value"></ol>
                <br>
                
        </form>
        </article>


</div>

<div id="tabs-4">

    <h2>Here are your Requested processes.</h2>
    <p>The ball is in the owner's court.  They must grant you these processes. </p>

<fieldset class=fieldsets style="width:600px; margin-right: 0%;">
        
        <p>Query: All processes that have not been requested AND that are either ZD Capable OR published.  All other processes are local.</p>
        
        <h2>Grant Subscriptions</h2>
        
        <form id="GrantSubscription" action="/GrantSubscription" method="POST"> 
			<table class=datatable align="center"> 
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="13" align="left"></th><tr>
					<th class=datatable>Process</th>
					<th class=datatable>Process Step</th>
					<th class=datatable>Requestor</th>
					<th class=datatable>Action</th><tr>
					
				    {% for row in grantRequest %}
				    	<input type="hidden" name="map_person_proc_step_id" value={{ row.map_person_proc_step_id|e }}>
				        <td width=10%>{{ row.proc_nm|e }}
				        <td width=15%>{{ row.proc_step_nm|e }}
				        <td width=15%>{{ rowfirst_nm|e }}{{ row.last_nm|e }}
				        <td width=20%><select font-size="10px" name="status">
			                <optgroup>
			                <option font-size="10px" value="1">Grant</option>
			                <option font-size="10px" value="2">Deny</option>
			                </optgroup>
		                
		                </select><tr>
				    {% endfor %}
			</table>
				<div class="submit_link">
				<input type="submit" value="Update">
				</div>
		</form>
</div>

<div id="tabs-5">
	<article class="module width_full">
		<h2>Your Network</h2>
		 	<table class=datatable>
			<th class=datatable colspan="14" align="left"> </th>
			<tr>
			<th class=datatable align="center" width=2%>Emp ID</th>	
			<th class=datatable width=20%>Name</th>
			<th class=datatablewidth=10%>Email</th>
			<th class=datatablewidth=10%>Google User ID</th><tr>
						{% for row in yourteam %}
						<td>{{ row.emp_id|e }}
						<td>{{ row.first_nm|e }} {{ row.last_nm|e }}
						<td>{{ row.email|e }}
						<td>{{ row.google_user_id|e }}<tr>
						{% endfor %}
			</table>
		
	</article>

</div>

</div>


</body>

