<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Quality App</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>

<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/MainHandler">Quality Integrator</a></h1>
			<h2 class="section_title">Capability Across the Organization</h2><div class="btn_view_site"><a href="http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
<section id="secondary_bar">
	{% include 'userbar.html' %}
</section><!-- end of secondary bar -->
	
<aside id="sidebar" class="column">
	{% include 'leftnav.html' %}
</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
		
		<h4 class="alert_info">Welcome to the Quality App Prototype</h4>
		
		<article class="module width_full">
			<header><h3>Quality and Capability: The team in action... </h3></header>
			<div class="module_content">
				<article class="stats_graph">
				<table valign=top style="width: 50%; ">
					<td><img src="/images/qualityEmployeesoftheYear.jpg" height="250" /><td><img src="images/lydia.png" height="250" /><tr>
					<td valign="top" ><b>Quality Employees of the Year: Pinkman and White -- way to go guys!</b><br>It's been a very busy year for Jesse and Walt. Find out how their ZD Mindset is delivering the finest cook to their customers in the American Southwest and the Czech Republic.
					<td valign="top" ><b>Quality leadership:</b><br>See what Lydia Rodarte-Quayle's got cooking in the fast food service industry...<tr>
				</table>

				</article>
				
				<article class="stats_overview">
					<div class="overview_today">
						<p class="overview_day">Today</p>
						<p class="overview_count">1,876</p>
						<p class="overview_type">Conforming Processes</p>
						<p class="overview_count">2,103</p>
						<p class="overview_type">Total Processes</p>
					</div>
					<div class="overview_previous">
						<p class="overview_day">Yesterday</p>
						<p class="overview_count">1,646</p>
						<p class="overview_type">Conforming Processes</p>
						<p class="overview_count">2,054</p>
						<p class="overview_type">Total Processes</p>
					</div>
				</article>
				<div class="clear"></div>
			</div>
		</article><!-- end of stats article -->
		
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Performance by Most Frequently Operated Processes</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Posts</a></li>
    		<li><a href="#tab2">Comments</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
	<div class="tab_container">
			<div id="tab1" class="tab_content">
			Tab 1
			</div><!-- end of #tab1 -->
			<div id="tab2" class="tab_content">
			Tab 2
			</div><!-- end of #tab2 -->
			


			
		</div><!-- end of .tab_container -->
		
</body>

</html>