<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Quality App</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>

<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/MainHandler">Quality Integrator</a></h1>
			<h2 class="section_title">Capability Across the Organization</h2><div class="btn_view_site"><a href="http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
<section id="secondary_bar">
	{% include 'userbar.html' %}
</section><!-- end of secondary bar -->
	
<aside id="sidebar" class="column">
	{% include 'leftnav.html' %}
</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
		
		<h4 class="alert_info">Welcome to the Quality App Prototype</h4>
		
		<article class="module width_full">
			<header><h3>Quality and Capability: Teams in action... </h3></header>
			<div class="module_content">
				<article class="stats_graph">
				<table valign=top style="width: 50%; ">
				<td><img src="images/HAL_9000.jpg" height="250" /><td><iframe src="https://docs.google.com/a/philipcrosby.com/file/d/0B0jCJtEAcww_djRIYUVvdS1lRXc/preview" width="" height="250"></iframe><tr>
					<td valign="top" ><b>Disconnect Your AQL Thinking:</b><br>Redeploy the transmitter and drive it to failure?  Is that how we run a ZD capable organisation HAL?...  Learn how HAL's AQL thinking jeopardised the mission to Jupiter and forced Commander David (Dave) Bowman to literally disconnect HAL's AQL thinking faster than you can sing Daisy.
					<td valign="top" ><b>Entrepreneurial Capability</b><br>Biswajit understands that quality is key if his shop is to become the Starbucks of Bicycles...<tr>
					<td><img src="/images/qualityEmployeesoftheYear.jpg" height="250" /><td><img src="images/lydia.png" height="250" /><tr>
					<td valign="top" ><b>Quality Employees of the Year: Pinkman and White -- way to go guys!</b><br>It's been a very busy year for Jesse and Walt. Find out how their ZD Mindset is delivering the finest cook to their customers in the American Southwest and the Czech Republic.
					<td valign="top" ><b>Conforming Inputs & Supply leadership:</b><br>See what Lydia Rodarte-Quayle's got cooking in the fast food service industry...<tr>
					
				</table>

				</article>
				
				<article class="stats_overview">
			<table class=datatable align="center"> 
			<h2>Operations in Last 7 Days</h2>
				<th class=datatable>Process</th>
				<th class=datatable>Conf Ops</th>
				<th class=datatable>No of Ops</th>
				<th class=datatable>Conf Rate</th>
				<th class=datatable>Total PONC</th>
				<th class=datatable>Total POC</th><tr>
					{% for row in activitySummary %}
					<td width=30%>{{ row[1]|e }}
					<td width=10%>{{ row[2]|e }}
					<td align="center" width=10%>{{ row[3]|round|int|e }} 
					<td align="center" width=10%>{{ (row[4]*100)|round|int|e }}% <!--round(method='common'-->
					<td align="center" width=10%>${{ (row[5]|round|int|e) }}
					<td align="center" width=10%>${{ (row[6]|round|int|e) }}</tr>
					{% endfor %}
				</table>
			</table>
				</article>
				<div class="clear"></div>
			</div>
		</article><!-- end of stats article -->
</body>

</html>