<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />


	{% for group in featureList|groupby('app_feat_cat_0')|sort(5) %}
		<h3>{{ group.grouper }}</h3>
		    {% for row in group.list %}
		    <ul class="toggle">
			<li class={{ row.app_feat_0 }}><a href={{ row.app_feat_1 }}>{{ row.app_feat_2 }}</a></li>
		    {% endfor %}
		{% endfor %}


	</footer>
		<h3>Administration</h3>
			</select></li>
			<li class="icn_jump_back"><a href="/MainPageHandler">Go Home</a></li>
			<li class="icn_security"><a href="/">Log-off</a></li>
		</ul>
	</footer>

	