<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />

		<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>

		<h3>Operate & Manage</h3>
		
		<ul class="toggle">
		    <li><form action="/OperateProcess" method="GET">
    			<select name="proc_id" id="proc_id" onChange='this.form.submit()'>
				<option>Select a Process</option>
				{% for row in ddb_process %}
					<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
				{% endfor %} 
				</select></form></li>
			<li><select name="process" id="proc_id" onChange="handleDDBSelect(this)"()'>
				<option>Select from Favourites</option>
				{% for row in ddb_favourites %}
					<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
				{% endfor %} 
			</select></li>
			<li><select name="process" id="proc_id" onChange="handleDDBSelect(this)"()'>
				<option>Complete a Pending</option>
				{% for row in ddb_pending %}
					<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
				{% endfor %}\
			</select></li> 
			<li><select name="process" id="proc_id" onChange="handleDDBSelect(this)"()'>
				<option>Update Completed</option>
				{% for row in ddb_updated %}
					<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
				{% endfor %} 
			</select></li> 
		<h3>Operate & Manage</h3>
			</select></li>
			<li class="icn_new_article">{{ item }}</li>
			<li class="icn_edit_article"><a href="/DevelopCapability">Develop Capability</a></li>
			<li class="icn_categories"><a href="/OperateProcess">Operate & Manage</a></li>
			<li class="icn_tags"><a href="/MeasurePerformance">Measure Performance</a></li>
		</ul>
		<h3>Owner/Operator</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="#">Your Operations/Projects</a></li>
			<li class="icn_view_users"><a href="#">Process Operators</a></li>
			<li class="icn_profile"><a href="#">Process Connectors</a></li>
		</ul>
		<h3>Analytics</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="#">Operator Performance</a></li>
			<li class="icn_photo"><a href="#">Owner Performance </a></li>
			<li class="icn_audio"><a href="#">/Operations/Project Browser</a></li>
			<li class="icn_video"><a href="#">Best Practices/Network Learnings</a></li>
		</ul>
		<h3>Admin</h3>
		<ul class="toggle">
			<li class="icn_security"><a href="/utilities">Utilities</a></li>
			<li class="icn_jump_back"><a href='/'>Logout</a><br></li>
		</ul>
		<h3>Development</h3>
		<ul class="toggle">

			<li class="icn_jump_back"><a href="/ajax">AjaxTest</a><br></li>
			<li class="icn_jump_back"><a href="/playground">Playground</a><br></li>
			<li class="icn_settings"><a href="/ajaxjson">AjaxJSON</a></li>
					    <li><form action="/devOperateProcess" method="GET">
    			<select name="dev_proc_id" id="dev_proc_id" onChange='this.form.submit()'>
				<option>Select a Process</option>
				{% for row in ddb_process %}
					<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
				{% endfor %} 
				</select></form></li>
		</ul>
			<hr />
			<p><strong>Copyright &copy; 2011 Website Admin</strong></p>
			<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
		</footer>