<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Philip Crosby Associates</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>


<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/MainHandler">Quality Integrator</a></h1>
			<h2 class="section_title">Measure Capability</h2><div class="btn_view_site"><a href="http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
<section id="secondary_bar">
	{% include 'userbar.html' %}
</section><!-- end of secondary bar -->
	
<aside id="sidebar" class="column">
	{% include 'leftnav.html' %}
</aside><!-- end of sidebar -->

</div>
  <div class="tabs">
    <a data-toggle="tab1">Organisational Performance</a>
    <a data-toggle="tab2">By Process Step</a>
    <a data-toggle="tab3">Adjustments/Innovations Summary</a>
    <a data-toggle="tab4">Data Validation</a>
    <a data-toggle="tab5">All Processes</a>
  </div>
<div class="tabContent">  
  <div id="tab1">
    <h2>Organisational Performance</h2>
    <br>
    <p>This table is an performance overview of all processes operated in the organisation.</p>
 	 <br>
			<table class=datatable align="center"> 
				<th class=datatable>Process</th>
				<th class=datatable>Process Step</th>
				<th class=datatable>Perf %</th>
				<th class=datatable>Success</th>
				<th class=datatable>No of Operations</th>
					{% for row in sqlMeasurebyPerson %}
					<tr><td width=25%>{{ row[1]|e }}
					<td width=30%>{{ row[3]|e }}
					<td align="center" width=10%>{{ (row[9]*100)|round(method='common') }} 
					<td align="center" width=10%>{{ row[10]|e }}
					<td align="center" width=10%>{{ (row[11]|e) }}</tr>
					{% endfor %}
				</table>
			</table>

  </div>
  
  <div id="tab2">
    
    <h2>Performance by Process Step</h2>
    <br>
    <p>This table displays your performance by process step by case.</p>
    <br>

			<table class=datatable align="center"> 
				{% for group in summary|groupby(1) %}
				    <th class=datatable colspan="5" align="left" font size="24">{{ group.grouper }}</th><tr>
				    <th class=datatable>Process Step</th>
					<th class=datatable>Case</th>
					<th class=datatable>Perf %</th>
					<th class=datatable>Success</th>
					<th class=datatable>No of Operations</th><tr>
				    {% for row in group.list %}
				        <td width=30%>{{ row[3]|e }}
				        <td width=40%>{{ row[6]|e }}
				        <td align="center" width=10%>{{ (row[9]*100)|round(method='common') }}
				        <td align="center" width=10%>{{ row[10]|e }}
				        <td align="center" width=10%>{{ row[11]|e }}<tr>
				    {% endfor %}
				{% endfor %}
			</table>

  </div>
  
  <div id="tab3">
    <h2>Adjustments/Innovations Summary</h2>

    <p>This table displays all the comments recorded for processes operated by all Operators.</p>
    <br>
 
			<table class=datatable align="center"> 
			<th class=datatable colspan="14" align="left" font=16px> Summary of Adjustments and Suggested Innovations </th><tr>
			<th class=datatable>Process</th>
			<th class=datatable>Process Step</th>
			<th class=datatable>Case</th>
			<th class=datatable>Reported by</th>
			<th class=datatable>Date</th>
			<th class=datatable>Risks</th>
			<th class=datatable>Innovations</th><tr>
						{% for row in innovations %}
						<td width=10%>{{ row[0]|e }}
						<td width=10%>{{ row[1]|e }}
						<td width=10%>{{ row[2]|e }}
						<td width=5%>{{ row[6]|e }}
						<td width=5%>{{ row[3]|e }}
						<td width=25%>{{ row[4]|e }}
						<td width=25%>{{ row[5]|e }}<tr>
						{% endfor %}
			</table>	
		
	</div>
	  
	<div id="tab4">
    <h5>Tab4</h5>
 	<table class=datatable>
		<th class=datatable colspan="14" align="left"> Data Validation from case </th>
		<tr>
		<th class=datatable>0</th>
		<th class=datatable>1</th>
		<th class=datatable>2</th>
		<th class=datatable>3</th>
		<th class=datatable>4</th>
		<th class=datatable>5</th>
		<th class=datatable>6</th>
		<th class=datatable>7</th>
		<th class=datatable>8</th>
		<th class=datatable>9</th>
		<th class=datatable>10</th>
		<th class=datatable>11</th>
		<th class=datatable>12</th>
		<th class=datatable>13</th><tr>
		
					{% for row in summary1 %}
					<tr><td>{{ row|e }}<tr>
					{% endfor %}
		</table>
  </div>
	<div id="tab5">
    <h1>All Processes</h1>
 		<table class="tablesorter" cellspacing="50"> 
			<table class ="datatable" id="data">
				<tr><td><h4><b>Process					<td><b>Process Step						<td><b>Requirement<td><b>Conformance </b><td><b> of Operations</b></h4></tr>
				{% for row in processSummary %}
				<tr><td>{{ row[0]|e }} 		<td>{{ row[1]|e }} <td>{{ row[2]|e }} <td class ="center">{{ row[3]|e }} <td class='center'>{{ row[4]|e }}</tr>
				{% endfor %}
			</table>

		</table>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/static/html5jtabs.js"></script>
<script>
$(function() {
  $(".tabs a").html5jTabs();
});
</script>
</body>

</html>