<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Philip Crosby Associates - Operate Processes</title>


	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="images" href="/images/" type="" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript"></script>
	<script type="text/javascript" src="/static/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/static/getDate.js"></script>
	<script type="text/javascript" src="/static/createcase.js"></script>
	<script>
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
		);
		$(document).ready(function() {	//When page loads...
			$(".tab_content").hide(); //Hide all content
			$("ul.tabs li:first").addClass("active").show(); //Activate first tab
			$(".tab_content:first").show(); //Show first tab content 
			//On Click Event
		$("ul.tabs li").click(function() {
			$("ul.tabs li").removeClass("active"); //Remove any "active" class
			$(this).addClass("active"); //Add "active" class to selected tab
			$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
		});
	});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
	</script>
</head>
<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/">Integrated Capability</a></h1>
			<h2 class="section_title">Operate & Manage</h2><div class="btn_view_site"><a href="http://http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
			{% include 'userbar.html' %}
	
		<aside id="sidebar" class="column">
			{% include 'leftnav.html' %}
		</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
		
		<h4 class="alert_info">Operate and Manage</h4>
		
		<div class="clear"></div>
		
<article class="module width_full">	
	{% include 'sub_selectprocess.html' %}	
</article><!-- END 1. Select a Process to Operate -->

	{% include 'sub_operateprocess.html' %}		
	</div>
	
<article class="module width_full">	

	<fieldset style="width:45%; float:right; margin-right: 3%;"> 	
	<label><h2>Standard Operating Procedure:</h2></label>			
	</fieldset><div class="clear">
</article>
	<footer>
	</footer>
</body>

</html>