<label><h2>1. Select Process</h2></label>

<fieldset class=fieldsets style="width:45%; float:left; margin-left: 2%;"> 
	<form action="/SelectProcessStep" method="GET">
	<label>Select a Process</label>
	<select name="proc_id" id="proc_id" onChange='this.form.submit()'>
		<option>Process</option>
			{% for row in ddb_process %}
				<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
			{% endfor %} 
		</select>
	</form><br>

	<form action="/CreateCase" method="POST">
		<tr><td><label>Create New Case</label><br><br>
		<input type="text" name="case_nm" style="width:40%;"><tr>

		<div class="submit_link">
		<input type="submit" value="Create Case">
		<input type="submit" value="Cancel">
	</form>
</fieldset>

<fieldset style="width:45%; float:right; margin-right: 5%;">
	<form action="/CreateInstance" method="POST"> 				
	<label>Select a Process Step</label>
	<select name="proc_step_id" id="proc_step_id"'>
 		<option>Process Step</option>
			{% for row in ddb_proc_step %}
			<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
			{% endfor %}
	</select><br><br>
	
	<label>Select an Active Case</label>
 		<select name="case_id" id="case_id"'>
  			<option>Active Case</option>
			{% for row in ddb_active_case %}
			<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
			{% endfor %}

	</select><tr><br>
	
	<div class="submit_link">
		<input type="submit" value="Create Instance">
		<input type="submit" value="Cancel">
	</form>		
</fieldset><div class="clear">

