<!DOCTYPE html>
<html>
<body>

<canvas id="myCanvas" width="940" height="800" style="border:1px solid #000000;">

<script>

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(30,50,100,15);
ctx.rect(30,50,100,80);
ctx.stroke();

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(160,50,100,15);
ctx.rect(160,50,100,80);
ctx.stroke();

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(290,50,100,15);
ctx.rect(290,50,100,80);
ctx.stroke();

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(420,50,100,15);
ctx.rect(420,50,100,80);
ctx.stroke();

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(550,50,100,15);
ctx.rect(550,50,100,80);
ctx.stroke();

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(680,50,100,15);
ctx.rect(680,50,100,80);
ctx.stroke();

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.rect(810,30,100,15);
ctx.rect(810,30,100,130);
ctx.stroke();

</script> 
Your browser does not support the HTML5 canvas tag.
</canvas>

</body>
</html>
