<!doctype html>
<html lang="en">



<head>
	<meta charset="utf-8"/>
	<title>Philip Crosby Associates - Collaborate</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/widgets.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" media="screen" />
	  
	<!--[if lt IE 9]>
	<link rel="images" href="/images/" type="" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/static/jQueryWidgets.js"></script>
	
	<script>
	$(document).ready(function() 
    	{ 
		      	  $(".tablesorter").tablesorter(); 
		   	 } 
			);
			$(document).ready(function() {
		
			//When page loads...
			$(".tab_content").hide(); //Hide all content
			$("ul.tabs li:first").addClass("active").show(); //Activate first tab
			$(".tab_content:first").show(); //Show first tab content
		
			//On Click Event
			$("ul.tabs li").click(function() {
		
				$("ul.tabs li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tab_content").hide(); //Hide all tab content
		
				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
		
		});
    </script>
	<script>
	function CurrencyFormatted(amount) {
		var i = parseFloat(amount);
		if(isNaN(i)) { i = 0.00; }
		var minus = '';
		if(i < 0) { minus = '-'; }
		i = Math.abs(i);
		i = parseInt((i + .005) * 100);
		i = i / 100;
		s = new String(i);
		if(s.indexOf('.') < 0) { s += '.00'; }
		if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
		s = minus + s;
		return s;
	}
	</script>

	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$(function() {
		$( "#tabs" ).tabs({active: 0});
		});
	</script>
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/">Integrated Capability</a></h1>
			<h2 class="section_title">Collaborate</h2><div class="btn_view_site"><a href="http://http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
		<section id="secondary_bar">
			{% include 'userbar.html' %}
		</section><!-- end of secondary bar -->
			
		<aside id="sidebar" class="column">
			{% include 'leftnav.html' %}
		</aside><!-- end of sidebar -->
			
		<section id="main" class="column">

<div class="clear"></div>
<div id="tabs">
		
<ul>

{{ title }}
	<li><a href="#tabs-1">Processes You Own</a></li>

</ul>
<div id="tabs-1">


columnkeys: {{ columnNames }}<br>
columnRow: {{ columnRow }}<br> 

    <form action="/Greeting?%s" method="post">
      <div><textarea name="proc_nm" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Enter Process"></div>
    </form>

    <hr>

    <form>Process Name:
      <input value="%s" name="proc_nm">
      <input type="submit" value="switch">
    </form>

    <a href="%s">%s</a>
<table class=datatable align="center">     
<th class=datatable id="group_header" style="color: #FFFFFF" colspan="5" align="left"></th><tr>
	<th class=datatable>Process</th>
	<th class=datatable>Proc Desc</th>
	<th class=datatable>Proc Name</th>
	<th class=datatable>Owner</th><tr>
	
	{% for row in processes %}
	<td align="center" width=5%>{{row.Process|e}}</th>
	<td align="center" width=5%>{{row.proc_desc|e}}</th>
	<td align="center" width=5%>{{row.proc_nm|e}}</th>
	<td align="center" width=5%>{{row.proc_step_owner|e}}</th><tr>
	{% endfor %}
	</table>
	


	

    

  </body>
</html>

    
    <br>
			<table class=datatable align="center"> 
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="{{ columnRow}}" align="left"></th><tr>
				    {% for item in columnNames %}
					<th class=datatable>{{item}}</th>
					{% endfor %}<tr>
					
					

			</table>


</div>

</div>


</body>