<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Philip Crosby Associates - Operate Processes</title>
	
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/resources/demos/style.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	
	<!--[if lt IE 9]>
	<link rel="images" href="/images/" type="" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/hideshow.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
		$(document).ready(function() 
	    	{ 
	      	  $(".tablesorter").tablesorter(); 
	   	 } 
		);
		$(document).ready(function() {
	
		//When page loads...
		$(".tab_content").hide(); //Hide all content
		$("ul.tabs li:first").addClass("active").show(); //Activate first tab
		$(".tab_content:first").show(); //Show first tab content
	
		//On Click Event
		$("ul.tabs li").click(function() {
	
			$("ul.tabs li").removeClass("active"); //Remove any "active" class
			$(this).addClass("active"); //Add "active" class to selected tab
			$(".tab_content").hide(); //Hide all tab content
	
			var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
			$(activeTab).fadeIn(); //Fade in the active ID content
			return false;
		});
		});
    </script>
    <script type="text/javascript">
	    $(function(){
	        $('.column').equalHeight();
	    });
	</script>
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<script>
		$(function() {
		$( "#tabs" ).tabs({active: 2});
		});
	</script>
	<script>
		 $(function() {
		$( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
		});
	</script>
</head>
<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/">Integrated Capability</a></h1>
			Temporary Data Input Page<div class="btn_view_site"><a href="http://http://www.theonion.com/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
<section id="secondary_bar">
	{% include 'userbar.html' %}
</section><!-- end of secondary bar -->
	
<aside id="sidebar" class="column">
	{% include 'leftnav.html' %}
</aside><!-- end of sidebar -->
	
<section id="main" class="column">
		
		<h4 class="alert_info">This is a temporary method for creating processes</h4>
		<p>Processes are owned by process owners.  We have several ways of thinking about this: Anyone can create a process for themselves.  Other can leverage it by subscribing to it. A process is ZD when it has gone through SPS or whatever we call the design process. 
		
		
		</p>
		
<div class="clear"></div>
<div id="tabs">
<ul>
	<li><a href="#tabs-1">Create a Process</a></li>
	<li><a href="#tabs-2">Create a Process Step</a></li>
	<li><a href="#tabs-3">Create a Process Requirement</a></li>
	<li><a href="#tabs-4">To be moved: Create a Person</a></li>
	<li><a href="#tabs-5">Public Processes</a></li>
	<li><a href="#tabs-6">Your Local Processes</a></li>

</ul>
<div id="tabs-1">
	<article class="module width_half">
		<label><h2>1. Create a Process</h2></label>
		<fieldset style="width:100%; float:left;"> 		
			<form action="/postprocess" method="POST">
				<table>
					<tr><td><label>Process Name</label><input type="text" name="proc_nm" style="width:50%;"><tr>
					<tr><td><label>Process Description</label><input type="text" name="proc_desc" style="width:50%;"><tr>
					<tr><td><label>Process Owner</label><select name="emp_id" id="emp_id">
					{% for row in ddb_person %}
							<option value={{ row[4]|e }}>{{ row[1]|e }}{{ row[2]|e }}</option>
					{% endfor %}
				</select><tr>
					<tr><td><label>Process Start Date Picker</label><input type="text" id="datepicker" name="proc_start_dt" style="width:50%;">
					<td><input type="submit" value="Create Process">
						<input type="submit" value="Cancel"><tr>
				</table>


			</form>		
		</fieldset><div class="clear"></div>
  	</article><!-- END 1. Record Process -->	
</div>
<div id="tabs-2">
	<article class="module width_half">	
		<label><h2>2. Create a Process Step</h2></label>
		<fieldset style="width:100%; float:left;"> 		
			<form action="/postprocessstep" method="POST">
				<table>
					<tr><td><label>Process Step Name</label><input type="text" name="proc_step_nm" style="width:90%;">
					<td><label>Process Sequence</label><input type="text" name="proc_seq" style="width:90%;"><tr>
					<tr><td><label>Process Step Description</label><input type="text" name="proc_step_desc" style="width:90%;">
					<td><label>Parent Process</label><select name="proc_id">
					{% for row in ddb_process %}
							<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
					{% endfor %}
				</select><tr>
					<td><label>Process Owner</label><select name="owner" id="owner">
					{% for row in ddb_person %}
							<option value={{ row[4]|e }}>{{ row[1]|e }}{{ row[2]|e }}</option>
					{% endfor %}
				</select><tr>
					<td><label>Process Step SOP</label><input type="text" name="proc_step_sop" style="width:90%;">
					<td><label>Process Model Worksheet</label><input type="text" name="proc_model_link" style="width:90%;"><tr>
					<td><label>Process POC</label><input type="text" name="proc_poc" style="width:90%;">
					<td><label>Process PONC</label><input type="text" name="proc_ponc" style="width:90%;"><tr>
					<td><label>Process EFC</label><input type="text" name="proc_efc" style="width:90%;"><tr>
					<td><input type="submit" value="Create Process Step">
						<input type="submit" value="Cancel"><tr>
				</table>
			</form>		
		</fieldset><div class="clear"></div>
  	</article><!-- END 2. Record Process Step -->
  	</div>
<div id="tabs-3">
	<article class="module width_half">	
		<label><h2>3. Create Requirement</h2></label>
		<fieldset style="width:100%; float:left;"> 		
			<form action="/postrequirement" method="POST">
				<table>
					<tr><td><label>Requirement Name</label><input type="text" name="proc_req_nm" style="width:25%;"><tr>
					<tr><td><label>Requirement Description</label><input type="text" name="proc_req_desc" style="width:25%;"><tr>
					<tr><td><label>Sequence</label><input type="text" name="proc_req_seq" style="width:25%;"><tr>
					<tr><td><label>Process Step</label><select name="proc_step_id">
					{% for row in ddb_processsteps %}
							<option value={{ row[0]|e }}>{{ row[1]|e }}</option>
					{% endfor %}
				</select>
				<td><input type="submit" value="Create Requirement">
					<input type="submit" value="Cancel"><tr>
				</table>
			</form>		
		</fieldset><div class="clear"></div>
  	</article><!-- End 3. Create Requirement --></div>
<div id="tabs-4">
	<article class="module width_half">
		<label><h2>Create Person</h2></label>
		<fieldset style="width:100%; float:left;"> 		
			<form action="/postperson" method="POST">
				<table>
					<tr><td><label>First Name</label><input type="text" name="first_nm" style="width:50%;"><tr>
					<tr><td><label>Last Name</label><input type="text" name="last_nm" style="width:50%;"><tr>
					<tr><td><label>Email</label><input type="text" name="email" style="width:90%;">
					<td><input type="submit" value="Create Person">
						<input type="submit" value="Cancel"><tr>
				</table>
			</form>		
		</fieldset><div class="clear"></div>
  	</article><!-- END 4. Create Person -->	</div>
<div id="tabs-5">
	<article class="module width_full">
		<label><h2>PCA ZD Capable Processes</h2></label>
			<table class=datatable align="center"> 
				{% for group in processlist|groupby(1) %}
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="7" align="left">{{ group.grouper }}</th><tr>
				    {% for group in group.list|groupby(6)  %}
				    <th colspan="7" align="left">{{ group.grouper }}</th><tr>
				    <th class=datatable>Seq</th>
				    <th class=datatable>Process Step</th>
					<th class=datatable>Process Step Description</th>
					<th class=datatable>Seq</th>
					<th class=datatable>Requirement Name</th>
					<th class=datatable>Requirement Description</th>
					<th class=datatable>Process Owner</th><tr>
					    {% for row in group.list %}
					    	<td width=1% align="center">{{ row[6]|e }}
					        <td width=10%>{{ row[7]|e }}
					        <td width=20%>{{ row[8]|e }}
					        <td width=1% align="center">{{ row[17]|e }}
					        <td width=10%>{{ row[15]|e }}
					        <td width=40%>{{ row[16]|e }}
					        <td width=2%>{{ row[9]|e }}<tr>
					    {% endfor %}
					{% endfor %}  
				{% endfor %}
			</table>
	</article>
</div>
<div id="tabs-6">
	<article class="module width_full">
		<label><h2>Your Local Processes</h2></label>
			<table class=datatable align="center"> 
				{% for group in localprocesslist|groupby(1) %}
				    <th class=datatable id="group1_header" style="color: #FFFFFF" colspan="7" align="left">{{ group.grouper }}</th><tr>
				    {% for group in group.list|groupby(6)  %}
				    <th colspan="7" align="left" !important color="2A2A2A" font-color="white" font-size="1.5em">{{ group.grouper }}</th><tr>
				    <th class=datatable>Seq</th>
				    <th class=datatable>Process Step</th>
					<th class=datatable>Process Step Description</th>
					<th class=datatable>Seq</th>
					<th class=datatable>Requirement Name</th>
					<th class=datatable>Requirement Description</th>
					<th class=datatable>Local Owner</th><tr>
					    {% for row in group.list %}
					    	<td width=1% align="center">{{ row[6]|e }}
					        <td width=10%>{{ row[7]|e }}
					        <td width=20%>{{ row[8]|e }}
					        <td width=1% align="center">{{ row[17]|e }}
					        <td width=10%>{{ row[15]|e }}
					        <td width=40%>{{ row[16]|e }}
					        <td width=2%>{{ row[9]|e }}<tr>
					    {% endfor %}
					{% endfor %}  
				{% endfor %}
			</table>
	</article>
</div>

</div>
</body>
</html>